@font-face {
    font-family: joystix;
    src: url("/joystix_monospace.ttf");
}

.joystix {
    font-family: joystix;
    text-shadow: 4px -8px 5px black;
    text-shadow: 4px -8px 5px rgba(0,0,0,0.5);
}

.joystix > a {
    color: white;
    text-decoration: none;
    transform-origin: 50% 50%;
}

.joystix > a:hover {
    display: inline-block;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    cursor: default;
}


.transparent-panel {
    background-color: rgb(128, 128, 128);
    background-color: rgba(128, 128, 128, 0.1);
}

.about-text{
    color: white;
    font-size:x-large;
}

html, body {
    background-image: url("/imgs/BG.png");
    -ms-background-size: 100% 100%;
    -ms-background-repeat: no-repeat;
    -ms-background-position: right top;
    -ms-background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    height: 100%;
}