<div class="row" id="about">
    <div class="col-md-10 col-md-offset-1">
        
                <div class="row" style="margin-bottom:16px">
                    <div class="col-md-7 joystix about-text">
                        Welcome to our Factions-PvP server. <br />
                        Experience hardcore PvP combat. <br />
                        Expand your land and rise your fortress. <br />
                        Conquer your enemies and show your dominance. <br />
                        Establish your production and trade routes. <br />
                        Pump up your gear so nobody can stand in your way. <br />
                        Form alliances and lead your army for great battles. <br />
                        And most importantly... <br /><br />...stay alive. <br />
                        <br /><br />
                        Server is completely un-modded, with lots of self-written plugins, to ensure unique and swift gameplay. No need for additional downloads.
                        <br /><br />
                        Server upkeep is not free, so like every server we include game-shop, however there will be nothing you cannot get through playing, to ensure most fair-play.

                    </div>
                    <div class="col-md-5">
                        <img src="~/imgs/copper-gameserv photo-framed_0.png" /> <br/><br />
                        <img src="~/imgs/copper-gameserv photo-framed_1.png" />
                    </div>
                </div>

    </div>
</div>