<div class="row" id="about">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body">
                @for (int i = 0; i < 75; i++)
                {
                    <text>SIEMA<br /></text>
                }
            </div>
        </div>
    </div>
</div>