@{
    ViewData["Title"] = "Home Page";
}
@{
    Html.RenderPartial("TitleScreen");
    Html.RenderPartial("BackToTitle");
}
<div class="container-fluid">
    @{
        Html.RenderPartial("About");
    }
</div>